* { box-sizing: border-box;}
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #3d3d3d;
}
.topo {
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
}
.tamanho-maximo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    text-align: center;
    height: 60px;
    padding: 0 10px;
    margin: 0 auto;

}
.link-home {
    text-decoration: none;
    color: #3d3d3d;
    margin: 0 40px 0 0;
    font-size: 24px;
}
.link-menu {
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 15px 10px 15px;
    color: #3d3d3d;
}
span {
    color: #6592c9
}
.container {
    background-image: url('../assets/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.tit-par {
    color: #fff;
    font-size: 28px;
    background-color: #0a9077b3;
    border: 1px solid;
    padding: 0 20px;
    border-radius: 4px;
    text-align: center;
}
.titulo {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}
.maximo {
    max-width: 1024px;
    margin: 0 auto;
}
.fotos {
    display: flex;
    justify-content: space-between;
}
.quarto {
    margin-right: 30px;
    padding-bottom: 5px;
    text-decoration: none;
    color: #3d3d3d;
    border-bottom: 2px solid #00836a;
}
.quarto a {
    text-decoration: none;
    color: #333;
    text-align: center;
    text-transform: uppercase;  
}
.quarto:last-child {
    margin-right: 0px;
  }
img {
    width: 100%;
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}
.card {
    display: flex;
    width: 45%;
    margin: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.card-txt {
    flex: 1 1 auto;
}
.card img {
    width: 100px;
    height: 113px;
    object-fit: cover;
    margin-left:10px;
}
.rodape {
    background-color: #49997d;
    color: #fff;
}
.limite-rod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #3b7863;
    color: #fff;
    font-weight: 600;
    width: 100%;
}
.rodape img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.info {
    width: 23%;
    display: flex;
    align-items: center;
}
.rodape a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
.info h4 {
    font-size: 22px;
}